<header class="Header">
    <div class="HeaderTop">
        <div class="pull-left">Largest India's Bazaar</div>
        <div class="pull-right">
            <ul>
            <li><a href="">Advertise</a></li>
                <li><a href="">Help Center</a></li>
                <li><a href="">Download App</a></li>
                <li><a href="">Customer Care</a></li>
                <li><a href="">Signup</a></li>
                <li><a href="">Log In</a></li>
            </ul>

            </div>
    </div>
    <div class="HeaderContent"> </div>
</header>
